html {
  height: 100%;
  width: 100%;
}

/* This is my background image */
body {
  background-image:url(images/background/cream.jpeg);
  margin: 0;
}

/* General */

section {
	padding: 0 15%;
  margin: 80px 0;
}

header {
  height: 170px;
  line-height: 30px;
  margin: 0px;
  border: 0px;
  padding: 0px 0px;
  background-image:url(images/background/head-foot-background.jpeg);
}

footer {
  height: 70px;
  line-height: 70px;
  background-image:url(images/background/head-foot-background.jpeg);
   
  border-block-color: black;
}

/* Element */

/* This is my profile pic */
img { 
  max-width: 500px;  
  height: auto;
  border-radius: 10px;
  border: 1px solid #c5c0b8;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

/* General Styles */ 

.text-centered {
  text-align: center;
}

.logo {
  font-family: Rockwell, Helvetica, sans-serif;
  padding: 50px 0px 20px;
  font-size: 60px;
  color: #f8fadb;
  text-align: center;
  letter-spacing: 0mm;
}

header h2 {
  font-family: symbol, tahoma;
  color: #f8fadb;
  font-size: 20px;
  text-align: center;
}

/* Type */ 

h1, h2 {
  font-family: symbol, tahoma;
  color: black;
  text-align: center;
}

h1 { font-size: 28px;}
h2 { font-size: 20px;}

p, li {
  font-family: symbol, tahoma;
  line-height: 1.5em;
  margin-bottom: 0mm;
}

footer p {
  color: #f8fadb;
  text-align: center;
  height: 70px;
  line-height: 70px;
}

a {
	font-weight: 500;
	text-decoration: none;	
}
a:link { color: #38786a; }
a:visited { color: #38786a; }
a:hover { color: #403933; }
a:active { color: #403933; }
a:hover {
	text-decoration: underline;	
}

/* Modifier Styles */ 

.border-top {
  padding-top: 80px;
  border-top: 2px solid #403933;
}
